@import url('https://github.com/kaspernordkvist/uncut_sans/blob/main/Webfonts/UncutSans-Regular.woff');

/* BASE */

* {
    font-family: 'Uncut Sans', sans-serif;
    box-sizing: border-box;
    cursor: default;
    
}

:root {
    --margin: calc(0.75 * clamp(1.125rem, 0.6666vw + 1rem, 1.5rem));
    --body-height: calc(100svh - 2 * var(--margin));
    --body-width: calc(100vw - 2 * var(--margin));
    --header-height: calc(1.5em);
    --content-height: calc(var(--body-height) - var(--header-height));
}

html {
    font-family: 'Uncut Sans', sans-serif;
    font-size: clamp(1.125rem, 0.6666vw + 1rem, 1.5rem);
    line-height: 1.2;
    background-color: #362FD9;
    color: #eeeeee;
    scroll-snap-type: y mandatory;
    scroll-padding-bottom: var(--margin);

    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    min-height: var(--body-height);
    margin: 0 var(--margin);
    position: relative;
}

.no-scroll {
    height: var(--body-height);
    margin: var(--margin);
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.b {
    border: solid;
}

/* TEXT STUFF */

.lvl1 {
    font-size: 1.2em;
}

.tight-lines {
    line-height: 0.85em;
}

/* HOME */

#dvdbox {
    width: 100%;
    height: calc(100% - clamp(1.125rem, 0.6666vw + 1rem, 1.5rem));
    position: absolute;
    bottom: 0;
}

#supra {
    width: clamp(12ch, 30ch, 90%);
    position: absolute;
    -webkit-animation: moveX 4s linear 0s infinite alternate, moveY 6.8s linear 0s infinite alternate;
    -moz-animation: moveX 4s linear 0s infinite alternate, moveY 6.8s linear 0s infinite alternate;
    -o-animation: moveX 4s linear 0s infinite alternate, moveY 6.8s linear 0s infinite alternate;
    animation: moveX 4s linear 0s infinite alternate, moveY 6.8s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: calc(100% - clamp(12ch, 30ch, 90%)); }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: calc(100% - clamp(12ch, 30ch, 90%)); }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: calc(100% - clamp(12ch, 30ch, 90%)); }
}
@keyframes moveX {
  from { left: 0; } to { left: calc(100% - clamp(12ch, 30ch, 90%)); }
}

@-webkit-keyframes moveY {
  from { top: 1.8em; } to { top: calc(100% - clamp(1.125rem, 0.6666vw + 1rem, 1.5rem) - 1/3 * clamp(12ch, 30ch, 90%)); }
}
@-moz-keyframes moveY {
  from { top: 1.8em; } to { top: calc(100% - clamp(1.125rem, 0.6666vw + 1rem, 1.5rem) - 1/3 * clamp(12ch, 30ch, 90%)); }
}
@-o-keyframes moveY {
  from { top: 1.8em; } to { top: calc(100% - clamp(1.125rem, 0.6666vw + 1rem, 1.5rem) - 1/3 * clamp(12ch, 30ch, 90%)); }
}
@keyframes moveY {
  from { top: 1.8em; } to { top: calc(100% - clamp(1.125rem, 0.6666vw + 1rem, 1.5rem) - 1/3 * clamp(12ch, 30ch, 90%)); }
}

#back {
    width: calc(1em * 3);
    cursor: pointer;
    stroke: #1AACAC;
}

.full, #golden-wheel {
    width: 100%;
    height: 100%;
}

/* ARTICLES */
.fit, .header, .content {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    gap: 2ch;
}

.down {
    height: 100%;
    flex-direction: column;
}

.header, .foot-pad {
    background-color: #362FD9;
    position: sticky;
}

.header {
    padding-top: var(--margin); 
    top: 0;
    z-index: 999;
}

.title {
    background-color: #362FD9;
    color: #eeeeee;
    text-align: center;
    justify-content: center;
}

.title span {
    max-width: 80%;
}

.me {
    width:20ch;
}

.content, .embed-content {
    scroll-snap-align: end;
    align-items: center;
    min-height: var(--content-height);
    padding: 0 0.1em;
}

.embed-content {
    height: var(--content-height);
}

.embed {
    height: min(100%, calc(var(--body-width) / (4 / 3)));
    width: min(100%, calc(var(--content-height) * (4 / 3)));
    position: relative;
}

.foot-pad {
    height: calc(0.5 * clamp(1.75rem, 4vw + 1rem, 4rem));
    bottom: 0;
}

/* PASS */

button, button:active {
    appearance: none;
    outline: none;
    font-size: 0.75em;
    padding: 0.2em;
    border: solid;
}

button:active {
    background-color: inherit;
    color: inherit;
}

button {
    background-color: #fede29;
    color: #2584ec;
    border: #fede29 solid;
}